# MacOS
.DS_Store

# Windows
Thumbs.db

# Ignore IDE files
/.idea
/.vscode
*.swp
*.swo

# Env
.env
.env.backup

# Packages
/vendor/
/node_modules/

# NPM/Yarn Log
npm-debug.log
yarn-error.log
pnpm-debug.log

# Test
/coverage.xml
.phpunit.result
.phpunit.result.cache
Homestead.yaml
Homestead.json

# Static analysis tools
/phpstan.neon.tmp

# Laravel 5 & 6 & 7 & 8 & 9 & 10
/public/hot
/public/storage
/storage/*.key
# Laravel Mix or Vite
/public/build
/public/mix-manifest.json
# Laravel 7+
/storage/logs/*.log
# Laravel 9+
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*

# Terraform
*.tfvars
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# Temp files
/tmp

# Other
.crt
.styleci
.bash_history
.editorconfig
.gitattributes
.mysql_history
.vscode/settings.json

